.content__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.content__item {
  margin: 14px;
  padding: 15px 30px;
  font-family: 'Poppins', sans-serif;
}

.form__control {
  position: relative;

  & > img {
    position: absolute;
    right: 22px;
    top: 28px;
    display: none;
  }
}

input {
  width: 95%;
  border: 1px solid $blue-light;
  border-radius: 5px;

  &:focus {
    background-color: $gray-light;
    border: 1px solid $blue;
    outline: none;
  }
}

small {
  position: absolute;
  right: 10px;
  top: 66px;
  color: $red;
  font-size: 10px;
  text-align: right;
  margin-top: 0;
  display: none;
}

button {
  background-color: $green;
  color: #fff;
  font-weight: weight(semi-bold);
  letter-spacing: 1px;
  border: $green;
  border-radius: 5px;
  border-bottom: 5px solid rgb(65, 186, 133);
  box-shadow: 0 2px $green-dark;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 0 $green-dark;
    transform: translateY(2px);
  }
}

.disclaimer {
  color: $gray-blue;
  text-align: center;
}

a {
  font-weight: weight(bold);
}
