.content__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.content__item {
  margin: 10px;
  padding: 15px 30px;
  font-family: 'Poppins', sans-serif;
}

input {
  border: 1px solid $blue-light;
  border-radius: 5px;

  &:focus {
    background-color: $gray-light;
    border: 1px solid $blue;
    outline: none;
  }
}

button {
  background-color: $green;
  color: #fff;
  font-weight: weight(semi-bold);
  border: $green;
  border-radius: 5px;
  border-bottom: 5px solid rgb(65, 186, 133);
  box-shadow: 0 2px $green-dark;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 0 $green-dark;
    transform: translateY(2px);
  }
}

.disclaimer {
  color: $gray-blue;
  text-align: center;
}

a {
  font-weight: weight(bold);
}
