$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$gray-blue: hsl(246, 25%, 77%);

$font-weight: {
    'light': 200,
    'semi-regular': 300,
    'regular': 400,
    'semi-bold': 500,
    'bold': 600
};

@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

// - Red: hsl(0, 100%, 74%)
// - Green: hsl(154, 59%, 51%)

// ### Accent

// - Blue: hsl(248, 32%, 49%)

// ### Neutral

// - Dark Blue: hsl(249, 10%, 26%)
// - Grayish Blue: hsl(246, 25%, 77%)

// ## Typography

// ### Body Copy

// - Font size: 16px

// ### Font

// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 400, 500, 600, 700
