@import './variables';
@import './container';
@import './header';
@import './promo';
@import './form';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $red;
  background-image: url(./images/bg-intro-desktop.png);
  font-size: 15px;
}
